# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Django
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Project Specific Large Folders/Data
ürünler/
stok/
qr_codes/
*.log

# Environment variables
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo
